@use './variables' as v;

.events {
  padding: 20px;

  .row{
    margin-left: -1.8rem;
    margin-right: -1.8rem;
    
    .event-col{
      margin-bottom: 20px;
    }
  }
  .event-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%; 
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      transform: translateY(-5px);
    }

    .event-thumb{
      position: relative;
      img {
        width: 100%;
        height: 180px;
        object-fit: cover;
      }
      .status {
        display: inline-block;
        padding: 5px 15px;
        font-size: 12px;
        font-weight: bold;
        position: relative;
        top:-5px;
        left: 5px;
        border-radius:8px;

        &.ativo {
          background-color: #007bff;
          color: white;
        }

        &.inativo {
          background-color: #c1c1c1;
          color: white;
        }
      }
    }
    

    .event-info {
      padding: 15px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      flex-grow: 1;

      .event-footer{
        display: flex;
      }

      h3 {
        font-size: 15px;
        font-weight: bold;
        color: v.$text-titles;
        margin: 0;
        min-height: 35px;
      }

      p {
        font-size: 14px;
        color: #555;
        margin: 0;
      }
      .event-date{
        strong{
          color: v.$green-primary;
          width: 100%;
          display: inline-block;
        }
        span{
          color:v.$text-secundary;
        }
      }
      
    }

    .actions {
      padding: 10px 0 0 15px;

      button {
        background: none;
        border: none;
        cursor: pointer;
        font-size: 16px;
        transition: color 0.3s ease;

        &:hover {
          color: #007bff;
        }
      }

      .fa-trash {
        color: v.$color-icon
      }

      .fa-pen {
        color: v.$color-icon
      }
    }
  }
}