@use 'variables';

// Fonte Regular
@font-face {
  font-family: 'Involve';
  src: url('./fonts/involve-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
// Fonte Medium
@font-face {
  font-family: 'Involve';
  src: url('./fonts/Involve-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

// Fonte SemiBold
@font-face {
  font-family: 'Involve';
  src: url('./fonts/Involve-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: Involve, sans-serif;
}