// Toastr
$toastr-padding: 12px;
$toastr-border-radius: 6px;
$toastr-font-size: 14px;
$toastr-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
$toastr-success: #28a745;
$toastr-error: #dc3545;
$toastr-warning: #ffc107;
$toastr-info: #17a2b8;
$toastr-text: #17a2b8;

$text-titles:#223744;
$text-secundary: #969b9f;
$color-icon: #91a0aa;
$background: #f4f6f9;
$green-primary: #90BE42;